#userDetails {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 20px;
    background-color: rgb(255, 183, 27);
    padding: 20px;
    border-radius: 20px 0 20px 0;
    transition: all 0.25s ease-in-out;
    z-index: 10;
}

#userDetails.small{
    width: 60px;
    height: 60px;
}

#userDetails.notSmall{
    width: 205px;
    height: 150px;
}

#avatar {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    background-image: url("./generic-avatar.png");
}

.userentry {
    margin-top: 15px;
}