h1 {
    font-size: 30px !important;
    margin-bottom: 60px !important;
    letter-spacing: 5px !important;
    text-transform: uppercase;
}

.bordered {
    position: relative;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    color: inherit;
}

#borderedBotLeft {
    position: absolute;
    top: 35px;
    bottom: -30px;
    left: -18px;
    right: 85%;
    border-left: solid 2px rgb(214, 152, 16);
    border-bottom: solid 2px rgb(214, 152, 16);
    border-color: inherit;
    transition: all 0.25s ease-in-out;
}

#borderedTopRight {
    position: absolute;
    top: -30px;
    bottom: 35px;
    left: 85%;
    right: -18px;
    border-right: solid 2px rgb(214, 152, 16);
    border-top: solid 2px rgb(214, 152, 16);
    border-color: inherit;
    transition: all 0.25s ease-in-out;
}