@media screen and (max-width: 430px) {
    .trainingBlock{
        width: 100%;
        background-color: #dddddd;
        color: rgb(0, 0, 0);
    }

    .trainingBlock:nth-child(odd){
        height: 70%;
    }

    #refresh{
        display: none;
    }
}

@media screen and (min-width: 430px) {

    #trainingsForm {
        min-height: 200px;
        display: flex;
    }

    .trainingBlock{
        width: 50%;
        padding: 60px;
    }

    .trainingBlock:nth-child(even){
        background-color: #dddddd;
    }

    .trainingBlock:nth-child(odd){
        background-color: #181818;
        color: rgb(255, 166, 0);
    }

    #refresh{
        position: fixed;
        top: 50%;
        left: 50%;
    }
}

@media screen and (min-width: 930px) {
    .createTrainingEntry, .trainingDetailsEntry {
        margin-left: 20px;
    }

    .trainings table {
        padding: 10px;
    }
    
    .trainings table td {
        padding: 10px;
    }
}

.trainingBlock{
    padding: 60px;
    padding-top: 180px;
}

#trainingsForm {
    min-height: 200px;
}

.createTrainingEntry, .trainingDetailsEntry {
    margin-bottom: 10px;
}

#trainingCreationTitle.borderedTopRight, #trainingCreationTitle.borderedBotLeft{
    border-color: black;
}

table .btn-5 {
    width: 40px !important;
}