@media screen and (max-width: 430px) {
    .trainingBlock{
        width: 100%;
        background-color: #dddddd;
        color: rgb(0, 0, 0);
    }

    .trainingBlock:nth-child(odd){
        height: 70%;
    }
}

@media screen and (max-width: 820px) {
    #refresh{
        display: none;
    }
}

@media screen and (min-width: 430px) {

    #trainingsForm {
        min-height: 200px;
        display: flex;
    }

    .trainingBlock{
        width: 50%;
        padding: 60px;
    }

    .trainingBlock:nth-child(even){
        background-color: #dddddd;
        color: #2b3668;
    }

    .trainingBlock:nth-child(odd){
        background-color: #1f1f1fea;
        color: #ff9100;
    }

    #refresh{
        position: fixed;
        top: 50%;
        left: 50%;
    }
}

@media screen and (min-width: 930px) {
    .trainings table {
        padding: 10px;
    }
    
    .trainings table td {
        padding: 10px;
    }
}

#trainingsListTable{
    font-size: 20px !important;
}

#trainingsListTable td:last-child{
    width: 100px;
}

.trainingBlock{
    padding: 60px;
    padding-top: 180px;
}

#trainingsForm {
    min-height: 200px;
}

#trainingCreationTitle.borderedTopRight, #trainingCreationTitle.borderedBotLeft{
    border-color: black;
}

table .btn-5 {
    width: 40px !important;
}

#deleteTraining{
    position: relative;
    top: 15px;
}

.deleteTd > div{
    display: inline-block !important;
}

.deleteTd > div:last-child{
    margin-left: 45px;
}

#deleteTraining{
    color: #ee8700;
}

#createButton{
    position: relative;
    top: 20px;
    left: 20px;
}
