<app-spinner *ngIf="isLoading"></app-spinner>

<app-user-details></app-user-details>
<app-refresh-button (click)="refreshView()" id="refresh"></app-refresh-button>

<div class="largeWrapper" [ngStyle]="{'opacity': isLoading == true ? '0.5' : '' }">
    <div id="trainingsForm">
        <div class="trainingBlock">
            <app-bordered-title title="Trainings"></app-bordered-title>
            <div id="trainingsListTable">
                <table>
                    <tr *ngFor="let training of trainings; let i=index" [class.selected]="training === selectedTraining" tabindex="0">
                        <td (click)="onSelect(training)">{{training.title}}:</td>
                        <td (click)="onSelect(training)">{{training.date | date}}</td>
                        <td>
                            <app-anim-button *ngIf="deleteConfirm != i" [btnId]="5" class="desktop" title="Delete" (click)="showConfirmation(i)"></app-anim-button>
                            <app-anim-button class="confirm" *ngIf="deleteConfirm == i" [btnId]="3" class="desktop" title="✅" (click)="deleteTraining(training)"></app-anim-button>
                            <app-anim-button class="confirm" *ngIf="deleteConfirm == i" [btnId]="5" class="desktop" title="❌" (click)="hideConfirmation(i)"></app-anim-button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="trainingBlock">
            <div *ngIf="!selectedTraining" id="createTrainingForm">
                <app-bordered-title id="trainingCreationTitle" title="Creation"></app-bordered-title>
                <div class="createTrainingEntry">
                    <mat-form-field><input id="trainingTitle" placeholder="Training title" aria-label="Training title" matInput type="text" [formControl]="trainingTitle" required></mat-form-field>
                </div>
                <div class="createTrainingEntry">
                    <mat-form-field><input id="trainingDate" placeholder="Training date" aria-label="Training date" type="datetime-local" matInput [formControl]="trainingDate" required></mat-form-field>
                </div>
                <div class="createTrainingEntry">
                    <mat-form-field>
                        <input id="programType" placeholder="Program Type" aria-label="Program Type" matInput [formControl]="programType" [matAutocomplete]="typeAuto" required>
                    </mat-form-field>
                    <mat-autocomplete #typeAuto="matAutocomplete">
                        <mat-option *ngFor="let type of filteredProgramTypesValues | async" [value]="type">{{type}}</mat-option>
                    </mat-autocomplete>
                </div>
                <div class="createTrainingEntry">
                    <mat-form-field>
                        <input id="programRepetitions" type="number" placeholder="Program repetitions" aria-label="Program repetitions" matInput [formControl]="programRepetitions" required>
                    </mat-form-field>
                </div>
                <div class="createTrainingEntry">
                    <mat-form-field>
                        <input id="exercisesNumber" type="number" placeholder="Exercises number" aria-label="Exercises number" matInput [formControl]="exercisesNumber" required>
                    </mat-form-field>
                </div>
                <div class="createTrainingEntry" *ngFor="let index of observedExercisesNumber | async; let i=index">
                    <app-exercise-entry [entryId]="i+1" #exercise></app-exercise-entry>
                </div>
                <app-anim-button [btnId]="14" title="Create" (click)="createTraining()"></app-anim-button>
            </div>
            <div *ngIf="selectedTraining" id="trainingDetails">
                <app-bordered-title id="trainingCreationTitle" title="Details"></app-bordered-title>
                <div>
                    <div class="trainingDetailsEntry">{{selectedTraining.title}}</div>
                    <div class="trainingDetailsEntry">{{selectedTraining.date | date:"medium"}}</div>
                    <div class="trainingDetailsEntry">{{selectedProgram.type+"" | lowercase | titlecase}}</div>
                    <div class="trainingDetailsEntry">Program repetitions: {{selectedProgram.repetition}}</div>
                    <div><h2>Exercises :</h2></div>
                    <div *ngFor="let exercise of selectedExercises; let i=index">
                        <h3>Exercise {{i+1}}</h3>
                        <div class="trainingDetailsEntry">{{exercise.title+"" | lowercase | titlecase}}</div>
                        <div *ngIf="exercise.variation" class="trainingDetailsEntry">Variation : {{exercise.variation+"" | lowercase | titlecase}}</div>
                        <div class="trainingDetailsEntry">Series : {{exercise.series}}</div>
                        <div class="trainingDetailsEntry">Repetitions : {{exercise.repetitions}}</div>
                        <div class="trainingDetailsEntry">Mass : {{exercise.mass}}</div>
                        <div class="trainingDetailsEntry">Rest time : {{exercise.restTime}}</div>
                        <div *ngIf="exercise.additionalInformation" class="trainingDetailsEntry">Additional information : {{exercise.additionalInformation}}</div>
                        <div class="trainingDetailsEntry">Result confidence : {{exercise.resultConfidence + "" | lowercase | titlecase}}</div>
                        <div *ngIf="exercise.resultComments" class="trainingDetailsEntry">Result comments : {{exercise.resultComments}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
