<div class="frame">
    <button *ngIf="btnId === 1" class="custom-btn btn-1">{{title}}</button>
    <button *ngIf="btnId === 2" class="custom-btn btn-2">{{title}}</button>
    <button *ngIf="btnId === 3" class="custom-btn btn-3"><span>{{title}}</span></button>
    <button *ngIf="btnId === 4" class="custom-btn btn-4"><span>{{title}}</span></button>
    <button *ngIf="btnId === 5" class="custom-btn btn-5"><span>{{title}}</span></button>
    <button *ngIf="btnId === 6" class="custom-btn btn-6"><span>{{title}}</span></button>
    <button *ngIf="btnId === 7" class="custom-btn btn-7"><span>{{title}}</span></button>
    <button *ngIf="btnId === 8" class="custom-btn btn-8"><span>{{title}}</span></button>
    <button *ngIf="btnId === 9" class="custom-btn btn-9">{{title}}</button>
    <button *ngIf="btnId === 10" class="custom-btn btn-10">{{title}}</button>
    <button *ngIf="btnId === 11" class="custom-btn btn-11">{{title}}<div class="dot"></div></button>
    <button *ngIf="btnId === 12" class="custom-btn btn-12"><span>Click!</span><span>{{title}}</span></button>
    <button *ngIf="btnId === 13" class="custom-btn btn-13">{{title}}</button>
    <button *ngIf="btnId === 14" class="custom-btn btn-14">{{title}}</button>
    <button *ngIf="btnId === 15" class="custom-btn btn-15">{{title}}</button>
    <button *ngIf="btnId === 16" class="custom-btn btn-16">{{title}}</button>
</div>
  